.nav-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    transition: background-color 0.3s ease;

  }
  
  .nav-transparent {
    background-color: rgba(0, 0, 0, 0.6); /* Negro con transparencia */
    color: white;
  }
  .nav-transparent .dot {
    color: white !important;
  }
  .nav-transparent span:hover {
    color: white !important;
  }

  .nav-transparent:hover {
    color: #8bb7ff;
  }

  .nav-white {
    background-color: white;
    color: black;
  }
  