.nav-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    padding: 0 16px;
    box-sizing: border-box;
  }
  
  .nav-transparent {
    background-color: rgba(0, 0, 0, 0.3); /* Negro con transparencia */
    color: white;
  }
  .nav-transparent .dot {
    color: white !important;
  }
  .nav-transparent span:hover { 
    text-decoration: none !important;
  }

  .logo.text-white::after {
    content: none !important;
}

  .nav-white {
    background-color: white;
    color: black;
  }

  /* Contenedor del contenido centrado */
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 1200px;
    min-width: 300px;
  }

  @media (max-width: 1200px) {
    .nav-content {
        width: 90vw;
        max-width: 90vw;
    }
  }

  @media (max-width: 768px) {
    .nav-content {
        width: 95vw;
        max-width: 95vw;
    }
  }

  /* Nav izquierdo y derecho */
  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
    gap: 40px; /* MÁS espacio entre elementos */
  }

  .nav-left {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .nav-right {
    justify-content: flex-end;
  }

  /* Logo */
  .logo {
    font-size: 44px;
    font-weight: bold;
    color: #1756a9;
  }
  