.nav-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4F63E6;
    color: white;
    padding: 0px 0px 0px 24px;
    border-radius: 999px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    width: fit-content;
    gap: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .button-text {
    z-index: 1;
  }
  
  .button-icon {
    background-color: #5D80D7;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .nav-button:hover {
    background-color: #3e4eb4;
    color:  white;
  }