.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 60px;
    transition: width 0.3s ease;
    overflow: hidden;
    border-radius: 20px;
    background-color: transparent;
  }
  
  .search-container.expanded {
    width: 250px;
    background-color: #ffffff;
  }
  
  .search-input {
    flex: 1;
    padding: 6px 12px;
    border: 1px solid rgb(122, 122, 122);
    outline: none;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.2s ease;
    background-color: #ffffff;
    font-size: 14px;
    margin-right: 8px;
    width: 100%;
  }
  
  .search-container.expanded .search-input {
    opacity: 1;
  }
  
  .search-icon {
    cursor: pointer;
    font-size: 20px;
    color: #555;
    z-index: 2;
    position: relative;
  }
  