.nav-button-text {
    text-decoration: none;
    color: #0f172a;
    font-size: 16px;
    transition: color 0.2s;
}

.nav-button-text:hover {
    color: #3b82f6;
}

.text-white {
    position: relative;
    color: white !important;
    text-decoration: none;
}

.text-white::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.text-white:hover::after {
    width: 100%;
}
